body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
 
.title {
  position: relative;
  text-align: center;
  color: white;
  vertical-align: text-bottom;
}

.title img{
  display:block;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

.centered img{
  height: 180px;
}


.navbar ul {
  list-style: none;
  background-color: #9ee73d;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none !important;
}

.navbar li{
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #555555;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}


 
h1.title{
  font-style: italic;
}
 
h1{
    text-align: center;
}
 
p{
    text-align: center;
}
 

 
/*pricing*/
#pricing-page .pricing {
 text-align:center;
 margin:20px 0;
 color:#666;
}

#pricing-page .pricing .title {
 font-size:4em;
}

#pricing-page .pricing .subtitle {
 font-size:2em;
}

#pricing-page .pricing {
 margin:20px 0;
 text-align:center;
 color:#666;
}

#pricing-page .pricing .title {
 font-size:1em;
}

#pricing-page .pricing table {
 margin:10px auto;
 text-align:center;
 border-collapse:collapse;
}

#pricing-page .pricing table tr td {
 width:200px;
}

#pricing-page .pricing table tr:nth-child(even) td {
 background:#D8E6BC;
}

#pricing-page .pricing table tr:nth-child(odd) td {
 background:#BCE075;
}

#pricing-page .pricing table tr.header td {
 background:#5B614F;
 color:#D8E6BC;
 font-size:3em;
}

#pricing-page .pricing table tr.header td .price-caption {
 font-size:0.25em;
}

#pricing-page .pricing table tr td {
 padding:10px;
}

#pricing-page .button-container {
 text-align:right;
 margin-top:20px;
 margin-right:20px;
}

/*about*/

#about-page .content .title {
 float:left
 text-align:left;
 padding: 20px;
 color: #...
}

#about-page .content .text {
 float:left
 text-align:justify;
 padding: 10px;
 color: #...
}

#about-page .content .contact {
 float:left
 text-align:center;
 padding: 10px;
 color: #...
}

#about-page .content .p1About {color: white}
#about-page .content .p2About {font-size: 32px ; color: black}
#about-page .content .preAbout {
    color: black; 
    font-size: 18px;
    align="justify";
    style="border-width:3px;
    border-style:solid;
    border-color:#028d43;
    padding:0.5em;
    background-color : blanchedalmond;"
}
* {
    box-sizing: border-box;
}
#about-page .content .bodyAbout {
    font-family: Arial, Helvetica, sans-serif;
}
/* Two boxes floats next to each other */
#about-page .content .navAbout {
    float: left;
    width: 67%;
    height: 420px;
    background: white;
    padding: 20px;
}
/* Style the list inside the menu */
#about-page .content .navAbout ul {
    list-style-type: none;
    padding: 0;
}
        
#about-page .content .articleAbout {
    float: left;
    padding: 20px;
    width: 33%;
    background-color: white;
    height: 420px;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footerAbout {
    background-color: green;
    padding: 0px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    navAbout, articleAbout {
        width: 100%;
        height: auto;
    }
}

/*home*/
#home .content {
  position:relative;
}

#home .hero-image {
  max-width:100%;
  position:absolute;
  top:0;
  left:0;
}

#home .logo-container {
  position:absolute;
  height:200px;
  top:50px;
  text-align:center;
  width:100%;
}

#home .logo-container img.logo {
  height:200%;
}

#home h1 {
  position:absolute;
  top:240px;
  left:0;
  width:100%;
  color:rgb(255, 255, 255);
  font-weight:100;
  text-align:center;
  font-size:2em;
}

#home .button-container {
  position:absolute;
  text-align:center;
  top:530px;
  width:100%;
  font-weight:bold;
}

#home h1 {
  top:390px;
}

#home h1 .bold {
  font-weight:bold;
}

#home a.button {
  display:inline-block;
  background:#6cd171;
  padding:20px 40px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  transition: 0.5s;
  font-size:2em;
  
}

#home a.button:hover {
  background:#36702b;
}

#home .news {
  position:relative;
  top:700px;
  border: 4px solid #6cd171;;
  background-color: rgb(192, 226, 187);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 400;
}

#home .news::after {
  content: "";
  clear: both;
  display: table;
}

#home .news img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

#home .news span {
  font-size: 20px;
  margin-right: 15px;
}

#home .socials {
  position: absolute;
  left: 0;
  top: 1050;
  height: 100%;
  width: 100%;
  text-align: center;
}

#about_us body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-image: url("soil.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#about_us h1{
  text-align: center;
  color: white;
  font-weight: normal;
}

#about_us .bold{
font-weight: bold;
}

#about_us p{
  text-align: center;
}

#about_us .wrapper{
margin-top: 60px;
text-align: center;
padding-bottom: 8%;
}

#about_us .wrapper h1{
font-size: 48px;
color: #fff;
margin-bottom: 25px;
}

#about_us .our_team{
width: auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#about_us .our_team .team_member{
width: 250px;
margin: 5px;
background: #c8b88a;
padding: 20px 10px;
border-radius: 25px;
}

#about_us .our_team .team_member .member_img{
background: #e9e5fa;  
max-width: 190px;
width: 100%;
height: 190px;
margin: 0 auto;
clip-path: circle();
}

#about_us .our_team .team_member .member_img img{
width: 100%;
height: 100%;
}

#about_us .our_team .team_member h3{
text-transform: uppercase;
font-size: 18px;
line-height: 18px;
letter-spacing: 1px;
margin: 15px 0 0px;
}

#about_us .our_team .team_member span{
font-size: 10px;
}

#about_us .our_team .team_member p{
margin-top: 20px;
font-size: 14px;
line-height: 20px;
}

#about_us body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-image: url("Mockups/soil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

