/* rynak */
 
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
 
.title {
    position: relative;
    text-align: center;
    color: white;
  }
 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }
 
.navbar ul {
    list-style: none;
    background-color: greenyellow;
    padding: 0;
    margin: 0;
    text-align: center;
}
 
.navbar li{
    display: inline-block;
}
 
  .navbar a {
    text-decoration: none;
    color: gray;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
 
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
 
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
 
  h1.title{
    font-style: italic;
  }
 
h1{
    text-align: center;
}
 
p{
    text-align: center;
}
 
#our_team.column {
    float: left;
    width: 18%;
    padding: 10px;
}
 
#our_team.row:after {
    content: "";
    display: table;
    clear: both;
}
 
#our_team.@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
 
/*pricing*/
#pricing-page .pricing {
 text-align:center;
 margin:20px 0;
 color:#666;
}

#pricing-page .pricing .title {
 font-size:4em;
}

#pricing-page .pricing .subtitle {
 font-size:2em;
}

#pricing-page .pricing {
 margin:20px 0;
 text-align:center;
 color:#666;
}

#pricing-page .pricing .title {
 font-size:1em;
}

#pricing-page .pricing table {
 margin:10px auto;
 text-align:center;
 border-collapse:collapse;
}

#pricing-page .pricing table tr td {
 width:200px;
}

#pricing-page .pricing table tr:nth-child(even) td {
 background:#D8E6BC;
}

#pricing-page .pricing table tr:nth-child(odd) td {
 background:#BCE075;
}

#pricing-page .pricing table tr.header td {
 background:#5B614F;
 color:#D8E6BC;
 font-size:3em;
}

#pricing-page .pricing table tr.header td .price-caption {
 font-size:0.25em;
}

#pricing-page .pricing table tr td {
 padding:10px;
}

#pricing-page .button-container {
 text-align:right;
 margin-top:20px;
 margin-right:20px;
}

/*about*/

#about-page .content .title {
 float:left
 text-align:left;
 padding: 20px;
 color: #...
}

#about-page .content .text {
 float:left
 text-align:justify;
 padding: 10px;
 color: #...
}

#about-page .content .contact {
 float:left
 text-align:center;
 padding: 10px;
 color: #...
}